<div class="col-md-12">
  <div class="col-md-8 col-md-offset-2">
    <h4 class="text-center">Submit a link</h4>

    <%= form_for :link, url: links_path do |f| %>
    <%= f.label :url, class: "text-center" %><br>
    <%= f.text_field :url, placeholder: "http://www.example.com", class: "form-control" %><br>

    <%= f.label :title, "Title", class: "text-center" %><br>
    <%= f.text_field :title, placeholder: "Title", class: "form-control" %><br>

    <%= f.submit "Submit Link", class: "btn btn-info btn-block" %>
    <% end %>
  </div>
</div>

<div class="col-md-10 col-md-offset-1">
  <h4 class="text-center spacing">Sorting Options</h4>

  <input type="text" class="form-control" id="text-field" placeholder="Type to Sort">

  <div class="col-md-4">
    <button class="alpha-sort btn btn-default btn-block">Alpha Sort</button>
  </div>
  <div class="col-md-4">
    <button class="read-sort btn btn-default btn-block">Show Read</button>
  </div>
  <div class="col-md-4">
    <button class="unread-sort btn btn-default btn-block">Show Unread</button>
  </div>
</div>

<div class="col-md-10 col-md-offset-1">
  <h4 class="text-center spacing">Links Created</h4>
  <div class="urls">
    <% @links.each do |link| %>
    <div class="col-md-4 url">
      <br>
      <div class="url-<%= link.id %>">
        <h5 class="title">Title: <%= link.title %></h5>
        <p><%= link.site_name %></p>
        <p><%= link.h1 %></p>
        <% if link.read %>
          <h5 class="link-<%= link.id %> strike">URL: <%= link.url %></h5>
          <button id="<%= link.id %>-read-button" class="unread-button btn btn-info btn-block">Mark as Unread</button>
        <% else %>
          <h5 class="link-<%= link.id %>">URL: <%= link.url %></h5>
          <button id="<%= link.id %>-read-button" class="read-button btn btn-info btn-block">Mark as Read</button>
        <% end %>

        <h5><%= link_to "Edit Link", edit_link_path(link), class: "btn btn-info btn-block"%></h5>

      </div>
    </div>
    <% end %>
  </div>
</div>
