<div class="col-md-6">
  <h4>Links Created</h4>

  <div class="urls">
    <% @links.each do |link| %>
      <br>
      <h5>Title: <%= link.title %></h5>
      <% if link.read %>
        <h5><s>URL: <%= link.url %></s></h5>
        <button id="<%= link.id %>-read-button" class="unread-button">Mark as Unread</button>
      <% else %>
        <h5>URL: <%= link.url %></h5>
        <button id="<%= link.id %>-read-button" class="read-button">Mark as Read</button>
        <br>
      <% end %>

      <h5><%= link_to "Edit Link", edit_link_path(link)%></h5>

    <% end %>
  </div>
</div>

<div class="col-md-6">
  <h4>Submit a link</h4>

<%= form_for :link, url: links_path do |f| %>
  <%= f.label :url, class: "text-center" %><br>
  <%= f.text_field :url, placeholder: "http://www.example.com" %><br>

  <%= f.label :title, "Title", class: "text-center" %><br>
  <%= f.text_field :title, placeholder: "Title" %><br>

  <%= f.submit "Submit Link" %>
<% end %>
</div>
